.show_btn {
    margin-top: -6px;
    padding: 0;
}

.hide {
    display: none;
}

.navbar {
    background-color: #90caf9;
}

.main-panel{
	background-color:lavenderblush;
}

.container {
    padding: 0;
    overflow: hidden;
}

.navbar-nav {
    padding-left: 1rem;
}

.nav-item a {
    color: black;
}

.nav-item a:hover {
    text-decoration: none;
}

.item-link:hover {
    cursor: pointer;
}

.item-recipe {
    padding-bottom: 2rem;
}

.jumbotron {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    background-color: #90caf9;
    border-radius: 0;
}